@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
	--bgMain:hsl(233, 47%, 7%);  /* Very dark blue (main background):*/
	--bgCard: hsl(244, 38%, 16%); /* Dark desaturated blue (card background)*/
	--accentclr:hsl(277, 64%, 61%); /* Soft violet (accent) */

	--white: hsl(0, 0%, 100%); /* (main heading, stats): */
	--white-2: hsla(0, 0%, 100%, 0.75); /* Slightly transparent white (main paragraph) */
	--white-3: hsla(0, 0%, 100%, 0.6); /* Slightly transparent white (stat headings) */

	--font-size: 15px;
	--font-family-1: "Inter"; /* - Weights: 400, 700 */
	--font-family-2: "Lexend Deca"; /* - Weights: 400 */

}

p {
	margin: 0;
	padding: 0;
}

body{
	min-height: 100vh;
	align-items: center;
	justify-content: center;

	background-color:var(--bgMain);
	color:var(--white);
	font-family: var(--font-family-1);

	overflow: hidden;
}

body, .ctn-main, .ctn-1, .ctn-1 > div{
	display: flex;
}


.ctn-main, .ctn-1 > div{
	flex-direction: row;
}

.ctn-main{
	background-color: var(--bgCard);
	justify-content:center;
	margin: 0 8.5rem ;
	border-radius: 1rem;
}

/**********  Ctn 1 | Main Contn.  **********/
.ctn-1{
	flex-direction:column;
	justify-content:start;
	margin: 2.25rem 3.5rem;
	width: 350px;
}

.ctn-1 > div{
	width: 95%;
	margin-bottom: 0;
	margin-top: 2rem;
}

/**********  Ctn 1 | Header Text  -- Row 1 **********/
.title > p  {
	font-size: 1.9rem;
	font-weight: 700;
}

.title > p > span {
	color: var(--accentclr);
}


/**********  Ctn 1 | Info. Text  -- Row 2 **********/
.info{
	font-weight: 400;
	font-size: 0.92rem;
	word-spacing: 0.15rem;
	line-height: 1.3rem;
	color: var(--white-2);
}


/**********  Ctn 1 | Info. Text  -- Row 3 **********/
.sub-ctn:first-child{
	margin: 0;
}

.sub-ctn{
	margin-left: 3rem;
}

.sub-ctn > p:first-of-type{
	font-weight: 700;
	font-size: 1.25rem;
	color: var(--white);
}

.sub-text{
	margin: 0.25rem 0;
	color: var(--white-3);
	text-transform: uppercase;
}



/**********  <----- Ctn 2 ----->   **********/

/**********  Ctn 2 |   **********/

.ctn-overlay, .ctn-img{
	width: 540px;
	height: 400px;
	position: relative; 
	margin: 0;
}

.ctn-overlay{
	z-index: 2;
	background-color: rgb(78 0 125 / 57%);;
}

.ctn-overlay::after,
.ctn-img::after{
	content: '';
	background-size: cover;
	width: 100%;
	height: 100%;
}

.ctn-overlay,
.ctn-img::after{
	border-radius: 0 4% 4% 0;
}

.ctn-overlay,
.ctn-img::after{
	position: absolute;
}

.ctn-img::after{
	background: url(images/image-header-desktop.jpg) no-repeat center center;
}